<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stgh.forum.mapper.PostMapper">
    <resultMap id="postMap" type="com.stgh.forum.pojo.Post">
        <id column="pid" property="pid" jdbcType="INTEGER"></id>
        <result column="title" property="title" jdbcType="VARCHAR"></result>
        <result column="postText" property="postText" jdbcType="VARCHAR"></result>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"></result>
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP"></result>
        <result column="commentNum" property="commentNum" jdbcType="INTEGER"></result>
        <result column="lastCommentTime" property="lastCommentTime" jdbcType="TIMESTAMP"></result>
        <result column="lastCommentUser" property="lastCommentUser" jdbcType="VARCHAR"></result>
    </resultMap>

    <insert id="insertPost" useGeneratedKeys="true" keyProperty="pid" parameterType="com.stgh.forum.pojo.Post">
        insert into post (uid, userName, title, postText, createTime, updateTime) values (#{uid}, #{userName}, #{title}, #{postText}, #{createTime}, #{updateTime})
    </insert>

    <delete id="deletePostByPid" parameterType="Integer">
        delete from post where pid=#{pid}
    </delete>

    <update id="updatePost" parameterType="com.stgh.forum.pojo.Post">
        update post set postText=#{postText}, updateTime=#{updateTime}
    </update>

    <update id="setLastInfo" parameterType="com.stgh.forum.pojo.Comment">
        update post set lastCommentTime=#{createTime}, lastCommentUser=#{userName} where pid=#{pid}
    </update>

    <update id="addCommentNum" parameterType="com.stgh.forum.pojo.Comment">
        update post set commentNum=commentNum+1 where pid = #{pid}
    </update>

    <select id="selectPostByPid" parameterType="Integer" resultMap="postMap">
        select * from post where pid=#{pid}
    </select>

    <select id="selectPostByUid" parameterType="Integer" resultMap="postMap">
        select * from post where uid=#{uid}
    </select>

    <select id="selectPostByTitle" parameterType="String" resultMap="postMap">
        select * from post where title=#{title}
    </select>

    <select id="selectPostByKeyWord" parameterType="String" resultMap="postMap">
        select * from post where LOCATE(#{keyWord}, title) > 0
    </select>

    <select id="getAllPosts" resultMap="postMap">
        select * from post order by lastCommentTime DESC
    </select>

</mapper>